body{
    background-color: rgb(107, 107, 107);
}

h3{
    color: white;
}

h4{
    color: white;
}

.formulario-despesas, .total-despesas{ 
    max-width: 400px; 
    margin: 0 auto; 
    top: 10px;
}
    


.item-despesa { 
    display: flex; 
    justify-content: space-between; 
    margin-bottom: 10px; 
    color: white;
}